POSTGRES_PRISMA_URL="postgresql://postgres:postgres@localhost:5432/sukses-abadi"
POSTGRES_PRISMA_URL="postgresql://<username>:<password>@localhost:5432/<database_name>"
POSTGRES_URL_NON_POOLING = "postgresql://postgres:postgres@localhost:5432/sukses-abadi"
JWTSecret = "llpTjc/fHqB/7c4M"
PORT = 5000
origin = "151"
STRIPE_SECRET_KEY=sk_test_51Nw69kFzErKAgD5nIo7s005lkR3tXuBSiscK1jyc0Ia2RAVwndel265bbjpIJuKpausKNTrXu6e3H1VjSMYi8Tsl004g5fV861
CLIENT_URL=http://localhost:8090
FIREBASE_apiKey= "AIzaSyCJcvk1xfo5EVxmW-N1ZeT-rOyxQal1_fU"
FIREBASE_authDomain= "sukses-abadi.firebaseapp.com"
FIREBASE_projectId= "sukses-abadi"
FIREBASE_storageBucket= "sukses-abadi.appspot.com"
FIREBASE_messagingSenderId= "129493179135"
FIREBASE_appId= "1:129493179135:web:253519c26ef7edcd8d8aca"
FIREBASE_measurementId= "G-MS79V404WK"